/**-----------BODY----------**/

body {
    font-family: 'NS Sans', 'Frutiger 45 Light', 'Segoe UI', sans-serif;
    background: #e6e6e9;
    margin: 0;
    border: 0;
    padding: 0;
    min-width: 20em;
}

h1,
h2 {
    letter-spacing: 0.5px;
}




/**----------NAVIGATIE----------**/

nav {
    position: fixed;
    margin-top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 0.125em 0 0 rgb(7, 7, 33, .15);
    z-index: 666;
}

ul {
    display: flex;
    justify-content: flex-end;
    max-width: 75vw;
    margin: 1em auto 1em auto;
}

li {
    list-style: none;
}

nav > ul > li span {
    padding-left: 2.3em;
}

nav > ul > li:nth-child(1) {
    margin-right: auto;
    margin-left: -2.9em;
}

nav > ul > li:nth-child(1) > a > img {
    width: 10em;
    padding-bottom: 0;
}

nav > ul > li:nth-child(5) {
    margin-right: -1.5em;
}

nav > ul > li > a {
    margin-right: 2.5em;
    text-decoration: none;
}

/** before elementen **/

nav ul li:nth-child(2) > a:before {
    content: url(afbeeldingen/testzoek2.png);
    position: absolute;
}

nav ul li:nth-child(3) > a:before {
    content: url(afbeeldingen/testlijst2.png);
    position: absolute;
}

nav ul li:nth-child(3).listitem > a:before {
    content: url(afbeeldingen/testlijstitem2.png);
    position: absolute;
}

nav ul li:nth-child(4) > a:before {
    content: url(afbeeldingen/testbib2.png);
    position: absolute;
}

nav ul li:nth-child(5) > a:before {
    content: url(afbeeldingen/testaccount2.png);
    position: absolute;
}

nav > ul > li > a:hover:before {
    transform: scale(1.2);
    transition: 0.1s;
}

nav > ul > li span {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #003082;
    display: none;
}

/** micro interactie 1 **/

nav > ul > li:nth-child(3) > a.micro:before {
    content: url(afbeeldingen/testlijstitem2.png);
    position: absolute;
    animation: test 0.5s linear 1s;
}

@keyframes test {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/** headers **/

header {
    background: url(afbeeldingen/headertest2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 22em;
    transition: all 0.15s;
}

header#home {
    background: url(afbeeldingen/goedeheader.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 22em;
    transition: all 0.15s;
}

/** header bericht **/

section#welkom {
    display: block;
    position: absolute;
    background: none;
    max-width: 30em;
    margin-top: -20em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

section#welkom > h1 {
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.05em;
}

section#welkom > p {
    color: white;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-weight: 100;
}




/**----------INDEX GEBRUIKT----------**/

/** content geel blok **/

section#verder-lezen > p {
    line-height: 1.5;
    color: black;
    margin-bottom: 0;
}

section#verder-lezen {
    background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 3em, #ffc917);
    margin-top: -5em;
    padding: 32px 32px 32px 32px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

section#verder-lezen > h1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: -0.3em;
    padding-top: 0.2em;
    margin-bottom: 0.2em;
}

/** content witte blokken **/

section#suggestions {
    margin-top: 1em;
}

section {
    color: #003082;
    background: white;
    margin: 1em auto 1em auto;
    padding: 0.1em 1em 1em 1em;
    box-shadow: 0 0.125em 0 0 rgb(7, 7, 33, .15);
    width: 75vw;
    padding: 32px 32px 32px 32px;
}

section > h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 0;
}

/* verhalen */

section > div {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    list-style: none;
}

section > div > a {
    text-decoration: none;
    flex: 0 0 10em;
}

section > div > a > article {
    margin: 0.2em;
    position: relative;
    width: 12em;
    overflow: hidden;
}

section#verder-lezen > div > a > article {
    width: 14em;
}

section#verder-lezen > div > a > article > img,
section > div > a > article > img {
    width: 100%;
    margin-top: 0.5em;
}

section#verder-lezen div a article h3:before,
section div a article h3:before,
main a article h3:before {
    content: "â¯";
    position: absolute;
    left: 0;
    line-height: 2.2em;
    font-size: 0.7em;
}

section#verder-lezen div a article h3,
section div a article h3,
main a article h3 {
    font-size: 1em;
    color: #0079d3;
    background: none;
    padding-left: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    /position: absolute;
    /width: calc(100% - 0.5em);
}

section#verder-lezen div a article h3 {
    color: #003082;
}

section#verder-lezen div a article h3:hover {
    color: #0079d3;
}

section h3:hover:before,
main a article h3:hover:before {
    transform: translateX(.5rem);
    transition: .1s ease-in-out;
}

section h3:hover {
    color: #003082;
}




/**----------ZOEKPAGINA----------**/

/* formulier */

form {
    background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 3em, #ffc917);
    margin-top: -4em;
    padding: 32px 32px 32px 32px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

form > fieldset {
    border: none;
    padding: 0;
}

form fieldset legend {
    color: #003082;
    font-size: 2em;
    font-weight: 400;
    margin-top: -0.3em;
    margin-bottom: 0.4em;
}

form#zoeken label {
    display: none;
}

form fieldset input {
    width: 96%;
    padding: 1em 0em 1em 1em;
    margin: 0 auto;
    border: 0;
}

form fieldset button {
    width: 100%;
    margin-top: 1em;
    border: 0;
    padding: 1em;
    background: #0079d3;
    color: white;
    font-weight: 400;
    box-shadow: inset 0 -0.125rem 0 #005ca0;
    font-family: inherit;
}

form fieldset button:hover {
    box-shadow: #005ca0 inset 0 -125em 0;
    transition: 2s;
}

form a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.8em;
    background: #0079d3;
    color: white;
    font-weight: 400;
    box-shadow: inset 0 -0.125rem 0 #005ca0;
    transition: box-shadow .15s ease-in-out;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
}

form > a:hover {
    box-shadow: #005ca0 inset 0 -125em 0;
    transition: 2s;
}





/**----------ZOEKRESULTATEN----------**/

/* filter */

section#filter {
    padding-bottom: 0.2em;
    padding-top: 1.5em;
    display: flex;
    position: relative;
}

section#filter > img {
    width: 3.8em;
    height: 2.5em;
    margin-left: auto;
    margin-top: -0.4em;
}

section#filter > h2 {
    margin-right: auto;
    margin-top: 0.em;
    font-size: 1.2em
}

section#filter > fieldset {
    margin-top: -0.3em;
    justify-content: flex-end;
    align-items: flex-end;
    border: 0;
}

section#filter fieldset legend {
    display: none;
}

section#filter fieldset select {
    font-family: inherit;
    padding: 0.2em;
}

section#filter fieldset option {
    padding: 1em;
    margin: 1em;
}

/* resultaten */

main {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    margin-bottom: 1em;
}

main a:nth-child(1) {
    background: url(afbeeldingen/thumbnail1.jpg);
    background-size: cover;
    text-decoration: none;
}

main a:nth-child(2) {
    background: url(afbeeldingen/thumbnail2.jpg);
    background-size: cover;
    text-decoration: none;
}

main a:nth-child(3) {
    background: url(afbeeldingen/thumbnail10.jpg);
    background-size: cover;
    text-decoration: none;
}

main a article {
    background: white;
    margin-top: 10em;
    height: 3em;
}

main a article h3 {
    margin-left: 2em;
    margin-top: 0.8em;
    position: absolute;
}

main > a > article h3:hover {
    color: #003082;
}





/**----------VERHAAL DETAILPAGINA----------**/

/* geel blok */

section#verhaal-detail {
    background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 3em, #ffc917);
    margin-top: -4em;
    padding: 32px 32px 32px 32px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

section#verhaal-detail > h1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: -0.3em;
    padding-top: 0.2em;
    margin-bottom: 0.2em;
}

section#verhaal-detail > a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.8em;
    background: #0079d3;
    color: white;
    font-weight: 400;
    box-shadow: inset 0 -0.125rem 0 #005ca0;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
}

section#verhaal-detail > a:hover {
    box-shadow: #005ca0 inset 0 -125em 0;
    transition: 2s;
}

section#verhaal-detail button img.addlist {
    max-width: 3em;
    padding-top: 0.9em;
    padding-bottom: 0.5em;
    padding-right: 0.2em;
    margin: 0;
}

section#verhaal-detail > button {
    padding: 0em;
    width: 4em;
    float: right;
    margin-top: -11em;
    margin-right: 0em;
    background: #0079d3;
    box-shadow: inset 0 -0.125rem 0 #005ca0;
    border: none;
}

section#verhaal-detail > button:hover {
    box-shadow: #005ca0 inset 0 -125em 0;
    transition: 2s;
}

section#verhaal-detail > button:focus {
    transition: none;
}

section#verhaal-detail > p {
    color: white;
    background: #003082;
    width: 5em;
    padding: 0.5em;
    text-align: center;
    margin-left: 0;
}

/* review schrijven */

form#reviews {
    margin-top: 1em;
    background: white;
}

form#reviews input {
    border: 1px solid #e6e6e9;
    padding: 1em 0em 5em 1em;
    border-color: grey;
}

form#reviews input:focus {
    border: 1px solid #0079d3;
}

form#reviews label {
    display: none;
}

form#reviews > fieldset > img {
    width: 5em;
    position: absolute;
    margin-top: -2.5em;
    margin-left: 12em;
}

form#reviews legend {
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

/* review overzicht*/

section#reviewoverzicht {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

section#reviewoverzicht > img {
    width: 5em;
    position: absolute;
    margin-top: -2.5em;
    margin-left: 8em;
}

section#reviewoverzicht > h4 {
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

section#reviewoverzicht > p {
    border: 1px solid #e6e6e9;
    padding: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-top: 0;
    color: black;
}




/**----------MIJN LIJST----------**/

section#mijn-lijst {
    background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 3em, #ffc917);
    margin-top: -4em;
    padding: 32px 32px 32px 32px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

section#mijn-lijst > h1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: -0.3em;
    padding-top: 0.2em;
    margin-bottom: 0;
}

main > a > article {
    display: flex;
}

main > a img {
    width: 2.5em;
    height: 2em;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.5em;
}





/**----------MIJN LIJST LEEG----------**/

section#lege-lijst > a:hover {
    box-shadow: #005ca0 inset 0 -125em 0;
    transition: 2s;
}

section#lege-lijst > a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.8em;
    background: #0079d3;
    color: white;
    font-weight: 400;
    box-shadow: inset 0 -0.125rem 0 #005ca0;
    text-decoration: none;
    text-align: center;
}

section#lege-lijst > p {
    line-height: 1.5;
    color: black;
}




/**----------ALLE VERHALEN----------**/

section#alle-verhalen {
    background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 3em, #ffc917);
    margin-top: -4em;
    padding: 32px 32px 32px 32px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

section#alle-verhalen > h1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: -0.3em;
    padding-top: 0.2em;
    margin-bottom: 0;
}





/**----------ACCOUNT----------**/

form#account {
    margin-top: 2em;
    background: white;
    padding-bottom: 1em;
}

form#account > input,
form#inloggen > input {
    margin-top: 0.2em;
    margin-bottom: 1em;
}

form#account input {
    border: 1px solid #e6e6e9;
}

form#account input:valid,
form#inloggen input:valid {
    margin-top: 0.2em;
    margin-bottom: 1em;
    background: white;
}

form#account input:focus,
form#inloggen input:focus {
    border: 1px solid #0079d3;
    background: #e6e6e9;
}

div#accountpagina form#inloggen p,
div#accountpagina form#account p {
    font-size: 0.8em;
    color: red;
    margin-top: 0.2em;
    margin-bottom: 0;
    margin-right: 0;
    float: right;
    opacity: 0;
}

div#accountpagina form#inloggen p.microinter2,
div#accountpagina form#account p.microinter2 {
    opacity: 100;
}

div#accountpagina form#inloggen p.microinter3,
div#accountpagina form#account p.microinter3 {
    opacity: 0;
}

input.microinter {
    animation: verkeerd 1s;
}

@keyframes verkeerd {
    33% {
        transform: translate(10px, 0px);
    }

    66% {
        transform: translate(-10px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

form#inloggen > fieldset > a {
    background: none;
    width: auto;
    box-shadow: none;
    float: left;
    padding-left: 0;
    color: #0079d3;
}

form#inloggen > fieldset > a:hover {
    box-shadow: none;
    text-decoration: underline;
}

form#account > a:hover,
form#inloggen > a:hover {
    box-shadow: #005ca0 inset 0 -125em 0;
    transition: 2s;
}



/*----------HET VERHAAL----------*/

#terug {
    position: absolute;
    color: #0079d3;
    text-decoration: none;
    padding: 1em;
    letter-spacing: 1px;
}

#terug:hover {
    text-decoration: underline;
}

#versnellen {
    box-sizing: border-box;
    display: block;
    width: 12em;
    padding: 1em;
    background: #272726;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    animation: pulse 0.6s infinite;
}

body#verhaal1sec > #versnellen {
    animation: pulse 0.4s infinite;
}

body#verhaal05sec > #versnellen {
    animation: pulse 0.3s infinite;
}

body#verhaal02sec > #versnellen {
    animation: pulse 0.2s infinite;
}

body#verhaal00sec > #versnellen {
    animation: pulse 0.1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
        background-color: #5E5D5C;
    }
    70% {
        background-color: #2E2D2C;
    }
    100% {
        background-color: #272726;
    }
}

body#verhaal4sec {
    background: url(afbeeldingen/v24s.gif);
}

body#verhaal2sec {
    background: url(afbeeldingen/v22s.gif);
}

body#verhaal1sec {
    background: url(afbeeldingen/v21s.gif);
}

body#verhaal05sec {
    background: url(afbeeldingen/v205s.gif);
}

body#verhaal02sec {
    background: url(afbeeldingen/v202s.gif);
}

body#verhaal00sec {
    background: url(afbeeldingen/v200s.gif);
}

body#verhaal4sec,
body#verhaal2sec,
body#verhaal1sec,
body#verhaal05sec,
body#verhaal02sec,
body#verhaal00sec {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 37em;
    width: 100vw;
}





/*----------media queries----------*/

/** small > medium **/

@media (min-width: 35em) {

    section,
    form {
        max-width: 75vw;
        margin-top: -4em;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main a article div {
        padding-top: 1.4em;
        padding-left: 2.2em;
        padding-bottom: 1.7em;
    }

    body form input {
        width: 97%;
    }

    form a {
        width: 8em;
        float: right;
    }

    section#lege-lijst a {
        width: 8em;
    }

    a#terugknop {
        width: 8em;
        float: left;
    }

    form fieldset button {
        width: 8em;
        float: right;
    }

    section {
        margin: 1em auto 1em auto;
    }

    section#verhaal-detail a {
        width: 8em;
        padding-top: 1em;
        padding-bottom: 1.1em;
        float: right;
        margin-top: 1em;
    }

    section#verhaal-detail button {
        margin-top: 1.2em;
        margin-right: 1em;
        transition: .3s;
    }

    section#verhaal-detail p {
        display: inline-block;
    }

    form#account fieldset {
        padding-bottom: 1em;
    }

    #versnellen {
        margin: 0 auto;
    }
}


@media (min-width: 40em) {
    body#verhaal4sec,
    body#verhaal2sec,
    body#verhaal1sec,
    body#verhaal05sec,
    body#verhaal02sec,
    body#verhaal00sec {
        height: 62em;
    }

    section#welkom {
        margin-left: 3em;
        /margin-top: -19em;
    }

}

@media (min-width: 55em) {
    div#accountpagina {
        max-width: 75vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        grid-gap: 1em;
        box-sizing: border-box;
    }

    form#account {
        margin-top: -4em;
    }

    form {
        width: auto;
    }

    section#welkom {
        margin-left: 4em;
        /margin-top: -19em;
    }

    nav ul li span {
        display: inline;
    }

    nav ul li a {
        margin-right: 2em;
    }

    nav ul li:nth-child(5) a {
        margin-right: 0;
    }

    nav ul li a:hover:before {
        transform: translateX(.5rem);
        transition: .1s ease-in-out;
    }
}




/** medium > big **/

@media (min-width: 65em) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    body form input {
        width: 99%;
    }

    img#verhaal {
        width: 100%;
    }

    #versnellen {
        float: right;
        margin-top: -5em;
        margin-right: 0.8em;
    }

    body#verhaal4sec,
    body#verhaal2sec,
    body#verhaal1sec,
    body#verhaal05sec,
    body#verhaal02sec,
    body#verhaal00sec {
        margin-top: 5em;
        width: auto;
        max-height: 42em;
    }

    section#welkom {
        margin-left: 8em;
        / margin-top: -19em;
    }

    #terug {
        margin-top: -5em;
    }
}
